@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', monospace, sans-serif;
}

body * {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    background:rgba(134, 134, 134, 0.377);
    height: 60vh;
    width: 40%;
    position: relative;
    margin: 5px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 20px 20px 40px #00000056;
}

.btn {
    height: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 50px auto 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0px 10px 20px #00000056;
}

.btn-click:hover {
    background-color: lightgray;
}

.copy {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    
@media only screen and (max-width: 1000px) {
    main {
        width: 95%;
        height: 50vh;
    }

    .btn-login {
        width: 80%;
    }

    .text-field>input {
        width: 100%;
    }
}